$pagination-item-height: 20px;
$pagination-item-min-width: 20px;
$pagination-more-height: 20px;
$pagination-more-width: 20px;
$pagination-navigation-height: 20px;
$pagination-navigation-width: 20px;
$pagination-item-font-size: 12px;